@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

*,
*::after{
margin:0;
padding:0;
box-sizing: border-box;
}
:root{
    --after-content:'2';
}

body{
    width:100vw;
    font-family: 'Lato', sans-serif;
}
header{
    position: fixed;
    left:0;
    right:0;
    top:0;
    height:12vh;
    background-color: brown;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
h1{
    color: #fff;
}
.cart-box{
    width:26% !important;
    position: absolute;
    left:72%;
    top:25%;
    /* border:solid 1px blue; */
    padding:10px 20px;
}
h2{
    font-size: x-large;
    padding:15px 10px;
}

.cart-wrapper{
    overflow-y: auto;
    max-height: 350px;
    width:24vw;
}
.subtotal{
    text-align: right;
    padding:5%;
}
.checkout, .view-cart{
    width:95%;
    text-align: center;
    cursor: pointer;
    background-color: brown;
    font-size: large;
    color: #fff;
    margin:10px auto;
    padding:10px 15px;
}
.view-cart{
    background-color: #fff;
    border: 2px solid brown;
    color: brown;
}
.cart-icon{
    text-align: right;
}

.cart-item{
  display:grid;
  grid-template-columns: 3fr 6fr 1fr;
  padding:5% 2%;
  border-bottom:solid 1px lightgray;  
}

.cart-item img{
    width:100%;
}
.cart-item .details{
    padding-left:10%;
}

.cart-item h3{
  text-align: left; 
  margin-bottom:5%; 
}

.cart-item .price{
display: block;
text-align: right;
margin-top: 35%; 
  }
  
 .quantity{
     display: block;
     margin-top:5%;
 } 

 .fa-window-close{
     color: brown;
 }
 .cancel{
     text-align: right;
 }
 .whole-cart-window{
     border: solid lightgray 1px;
     border-top:none;
     position: fixed;
     top:12vh;
     background-color: #fff;
     margin-right:2%;
 }

 .hide{
     display: none;
 }
.non-empty::after{
  content: var(--after-content);
  font-size: 25px;
  width:25px;
  display: inline-block;
  text-align: center;
  position: relative;
  top:-20px;
  right:20%;
  background-color: red;
  border-radius: 50%;
}

.card-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.card-item{
    display: flex;
    flex-direction: column;
    min-width: 500px;
    height:600px;
    justify-content: center;
    align-items: center;
}
.card-item img{
    width:45%;
}
.card-item .details{
    text-align: center;    
}
.card-item p,.card-item h3 {
    margin-top:10px;   
}
.card-item span{
    display: block;
    margin-top:10px;
}
.add-to-cart-btn{
    width: fit-content;
    margin:auto;
    /* margin-top:10px; */
    padding: 10px 15px;
    cursor: pointer;
    background-color: brown;
    border-radius: 3px;
    font-size: large;
    color:#fff
}